<template>
    <button
      :class="{
          'btn-blue': isPrimary,
          light: !isPrimary,
          disabled: loading
      }"
      @click="$emit('click')"
    >
      <span v-if="loading">
        <svg class="animate-spin h-5 w-5 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
          <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path><circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
       </svg>
      </span>
      <span v-else>{{ text }}</span>
    </button>
</template>

<script>
  export default {
    name: 'app-button',
    props: {
      isPrimary: {
        type: Boolean,
        default: true
      },
      text: {
        type: String,
        default: ''
      },
      loading: {
        type: Boolean,
        default: false
      }
    }
  }
</script>

<style lang="scss" scoped>
.btn-blue {
  @apply text-white font-bold py-2 px-4 rounded;
  background: $blue;
}
.btn-blue:hover {
  background: $light-blue;
}
.light {
  @apply font-bold py-2 px-4 rounded;
  border: 1px solid $blue;
  color: $blue;
}
.light:hover {
  border: 1px solid $light-blue;
}
</style>
