<template>
<span></span>
</template>

<script>
  export default {
    name: 'app-label',
    props: {
      text: {
        type: String,
        default: ''
      }
    }
  }
</script>

<style lang="scss" scoped>
.btn-blue {
  background: $blue;
  @apply text-white font-bold py-2 px-4 rounded;
}
.btn-blue:hover {
  background: $light-blue;
}
</style>
