<template>
    <label class="block text-gray-700 text-sm font-bold mt-4 mb-2" for="username">
      {{ text }} <span class="info" v-if="info">- {{ info }}</span>
    </label>
</template>

<script>
  export default {
    name: 'app-label',
    props: {
      text: {
        type: String,
        default: ''
      },
      info: {
        type: String,
        default: ''
      }
    }
  }
</script>

<style lang="scss" scoped>
.btn-blue {
  background: $blue;
  @apply text-white font-bold py-2 px-4 rounded;
}
.btn-blue:hover {
  background: $light-blue;
}
.info {
  color: #999;
  font-size: 0.9em;
  font-weight: 300;
}
</style>
