<template>
  <div
    class="file-upload-wrapper"
    ref="wrapper"
    @drop="onDrop"
    @dragover="onDragover"
    @dragleave="onDragleave"
  >
    <form enctype="multipart/form-data" novalidate>
      <div class="dropbox">
        <app-label
          :label="label"
          :class="{
            button: true,
            'is-primary': isPrimary,
          }"
        />
        <input
          type="file"
          ref="uploadInput"
          :accept="accept"
          :name="uploadFieldName"
          :disabled="disabled"
          @change="filesChange($event.target.name, $event.target.files)"
          class="visuallyhidden"
          :multiple="multiple"
        >
        <!--span class="file-upload-status" v-if="this.uploadedFiles.length > 1">
          {{ this.uploadedFiles.length }} {{ $tc('main.files_selected') }}
        </span>
        <span class="file-upload-status"
          v-if="this.uploadedFiles.length === 1"
        >
          {{ this.uploadedFiles[0] }}
        </span-->
      </div>
    </form>
  </div>
</template>

<script>
import AppLabel from '@/components/widgets/AppLabel.vue'

export default {
  name: 'file-field',
  components: {
    AppLabel
  },
  props: {
    accept: {
      default: '.csv',
      type: String
    },
    isPrimary: {
      default: true,
      type: Boolean
    },
    label: {
      type: String,
      required: true
    },
    labelInfo: {
      type: String,
      default: ''
    },
    multiple: {
      default: false,
      type: Boolean
    },
    uploadFieldName: {
      default: 'file',
      type: String
    },
    disabled: {
      type: Boolean,
      default: false
    }
  },

  data () {
    return {
      isInitial: true,
      uploadedFiles: []
    }
  },
  mounted () {
    this.reset()
    const events = [
      'drag', 'dragstart', 'dragend', 'dragover',
      'dragenter', 'dragleave', 'drop'
    ]
    events.forEach((evt) => {
      this.$refs.wrapper.addEventListener(evt, (e) => {
        e.preventDefault()
        e.stopPropagation()
      })
    })
  },
  computed: {},
  methods: {
    reset () {
      this.isInitial = true
      this.uploadedFiles = []
      this.$refs.uploadInput.value = ''
    },

    filesChange (name, files) {
      const forms = []
      for (let i = 0, numFiles = files.length; i < numFiles; i++) {
        const file = files[i]
        const formData = new FormData()
        formData.append(this.uploadFieldName, file, file.name)
        forms.push(formData)
        if (this.multiple) {
          this.uploadedFiles.push(file.name)
        } else {
          this.uploadedFiles = [file.name]
        }
      }
      if (this.multiple) {
        this.$emit('fileselected', forms)
      } else {
        this.$emit('fileselected', forms[0])
      }
    },

    onDragover () {
      this.isDragging = true
    },

    onDragleave () {
      this.isDragging = false
    },

    onDrop (event) {
      if (event.dataTransfer.files) {
        this.isDragging = false
        this.filesChange('file', event.dataTransfer.files)
      }
    }
  },
  watch: {}
}
</script>

<style lang="scss" scoped>
.file-upload-wrapper {}
.dropbox {
  display: flex;
  align-items: center;
}
.file-upload-status {
  margin-left: .5rem;
  font-style: italic;
}
</style>
