<template>
  <div>
    <app-label :text="label" :info="labelInfo" v-if="label" />
    <input
      class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none"
      type="text"
      :placeholder="placeholder"
      @keyup.enter="$emit('enter')"
      @input="event => $emit('input', event.target.value)"
      :value="value"
    />
  </div>
</template>

<script>
import AppLabel from '@/components/widgets/AppLabel.vue'

export default {
  name: 'text-field',
  components: {
    AppLabel
  },

  props: {
    disabled: {
      type: Boolean,
      default: false
    },
    label: {
      default: '',
      type: String
    },
    labelInfo: {
      default: '',
      type: String
    },
    placeholder: {
      default: '',
      type: String
    },
    value: {
      type: String,
      default: ''
    }
  },

  data () {
    return {
    }
  },

  mounted () {},

  computed: {},
  methods: {
    reset () {
      this.value = ''
    }
  },
  watch: {}
}
</script>

<style lang="scss" scoped>
input:focus {
  border: 1px solid $blue;
}
</style>
