<template>
  <div class="contacts container">
    <div class="box">
      <h1 class="font-bold text-xl mb-6">Contacts</h1>

        <div class="contact-list" v-if="activeContacts.length > 0">
          <div
            :key="contact.uuid"
            class="contact flex items-center pt-1 pb-1"
            v-for="contact in activeContacts"
          >
            <img
              class="avatar"
              :src="`/api/data/medias/avatars/${contact.uuid}.png`"
              v-if="contact.status === 'OK'"
            />
            <div>
              <div class="font-bold contact-name">
                {{ contact.name }}
              </div>
              <div class="contact-url">
                {{ contact.url }}
              </div>
            </div>
            <span class="flex-1">
            </span>
            <span
              class="contact-status mr-2"
              :style="{ color: statusColor(contact), 'border-color': statusColor(contact) }"
            >
              {{ contact.status.toUpperCase() }}
            </span>
            <app-button
              class="ml-1"
              text="accept"
              v-if="contact.status === 'PENDING'"
              @click="acceptContact(contact)"
            />
            <app-button
              class="ml-1 delete-button"
              text="x"
              :is-primary="false"
              @click="removeContactRemotely(contact)"
            />
          </div>
        </div>
        <p class="mb-10" v-else>
          You don't have any contact yet.
        </p>

        <hr />
        <text-field
          class="mt-10"
          label="Give your contact URL to add it to your list"
          @enter="createContactRemotely"
          v-model="form.url"
        />
        <app-button
          class="mt-4"
          text="Add a new contact"
          :loading="isAddLoading"
          @click="createContactRemotely"
        />
        <p class="error" v-if="errors.create">
          An error occured while creating the contact
        </p>
    </div>
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'

import AppButton from '@/components/widgets/AppButton'
import TextField from '@/components/widgets/TextField'

export default {
  name: 'Contact',

  components: {
    AppButton,
    TextField
  },

  props: {
  },

  data () {
    return {
      isAddLoading: false,
      form: {
        url: ''
      },
      errors: {
        create: false
      }
    }
  },

  mounted () {
    setTimeout(() => {
      this.$socket.onmessage = (message) => {
        const contact = JSON.parse(message.data)
        if (contact.eventType === 'contact:new') {
          this.addContact(contact)
        } else if (contact.eventType === 'contact:delete') {
          this.removeContact(contact)
        } else if (contact.eventType === 'contact:status-change') {
          this.changeContactStatus(contact)
        }
      }
    }, 1000)
  },

  computed: {
    ...mapGetters([
      'activeContacts'
    ])
  },

  methods: {
    ...mapActions([
      'addContact',
      'changeContactStatus',
      'createContact',
      'confirmContact',
      'deleteContact',
      'removeContact'
    ]),

    createContactRemotely () {
      this.errors.create = false
      this.isAddLoading = true
      this.createContact(this.form.url)
        .catch(err => {
          this.errors.create = true
          console.error(err)
        })
        .finally(() => {
          this.isAddLoading = false
        })
    },

    acceptContact (contact) {
      this.confirmContact(contact)
    },

    removeContactRemotely (contact) {
      this.deleteContact(contact)
    },

    statusColor (contact) {
      const statusColorMap = {
        OK: '#81C784',
        ERROR: '#FF4081'
      }
      return statusColorMap[contact.status]
    }
  }
}
</script>

<style lang="scss" scoped>
.box {
  @apply bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4 mt-12;
}

.contacts {
  @apply mx-auto max-w-screen-md;
}

.contact-status {
  font-weight: bold;
  border: 2px solid black;
  padding: 0.5em;
  border-radius: 4px;
}

.delete-button {
  border-color: $light-grey2;
  color: $light-grey2;
  transition: all 0.5s ease;

  &:hover {
    border-color: $red;
    color: $red;
  }
}

.contact-name {
  color: $strong-grey;
}

.contact-url {
  color: $grey;
}

.avatar {
  border-radius: 50%;
  height: 40px;
  margin-right: 1em;
  width: 40px;
}
</style>
