<template>
  <div class="login container mx-auto max-w-screen-md">
    <div
      class="main-box pt-0"
    >
      <div class="text-center">
        <img class="avatar" src="/logo.png" />
      </div>
      <h1 class="main-title">
        Unlock your Newebe
      </h1>
      <div>
        <input
          class="password-input"
          id="password"
          type="password"
          placeholder=""
          @keyup.enter="runLogin"
          v-model="form.password"
        />
      </div>
      <div
        ref="errorMessage"
        class="error-message text-center mt-3 mb-0 opacity-0"
      >
        This is the wrong sesame, please, try again.
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'

export default {
  name: 'Login',

  components: {
  },

  props: {
  },

  data () {
    return {
      form: {
        password: ''
      }
    }
  },

  mounted () {
  },

  computed: {
    ...mapGetters([
    ])
  },

  methods: {
    ...mapActions([
      'login',
      'loadData'
    ]),

    runLogin () {
      this.$refs.errorMessage.style.opacity = 0;
      this.login(this.form)
        .then(() => {
          this.loadData()
          this.$router.push({name: 'messages'})
        })
        .catch((err) => {
          console.error(err)
          this.$refs.errorMessage.style.opacity = 1;
        })
    }
  },

  watch: {
  }
}
</script>

<style lang="scss" scoped>
.avatar {
  border-radius: 50%;
  margin: auto;
  height: 100px;
  width: 100px;
  @apply mb-8
}

.main-title {
  color: #666;
  font-weight: normal;
  letter-spacing: 0.5em;
  text-transform: uppercase;
  @apply font-bold text-xl mb-6 text-center;
}

.main-box {
  border-radius: 2em;
  background: #FFFFFFDD;
  @apply shadow-md px-8 pt-6 pb-3 mb-4 mt-40;
}

.password-input {
  background: #FFFFFFBB;
  border-radius: 2em;
  font-size: 3em;
  text-align: center;
  transition: 0.5s ease all;
  @apply appearance-none w-full py-2 px-8 text-gray-700;
}

.password-input:focus {
  @apply outline-none shadow-md bg-white;
}

.error-message {
  color: $red-grey;
  transition: opacity 0.3s ease;
}
</style>
