<template>
  <div
    class="main"
    v-infinite-scroll="loadMore"
    infinite-scroll-disabled="busy"
    infinite-scroll-distance="10"
  >
    <main-menu v-if="profile.name && !isRegister" />
    <router-view />
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'

import MainMenu from './MainMenu'

export default {
  name: 'main-wrapper',
  components: {
    MainMenu
  },

  data () {
    return {
      page: 0
    }
  },

  mounted () {
    this.fetchStatus()
      .then(status => {
          if (!status.registered) {
            this.$router.push('register')
          } else {
            this.fetchAuthenticated()
              .then(authenticated => {
                if (!authenticated) {
                  this.$router.push('login')
                } else {
                  this.loadData()
                }
              })
          }
      })
  },

  computed: {
    ...mapGetters([
      'profile'
    ]),
    isRegister () {
      return this.$route.name === 'register'
    }
  },

  methods: {
    ...mapActions([
      'fetchStatus',
      'fetchAuthenticated',
      'fetchMessages',
      'fetchProfile',
      'loadData'
    ]),

    loadMore () {
      // Dirty hack needed because v-infinite-scroll triggers loadMore
      // at mount when the application is not ready.
      if (!this.$options.firstLoadDone) {
        this.$options.firstLoadDone = true
      } else {
        this.page += 1
        this.fetchMessages(this.page)
      }
    }
  }
}
</script>

<style>
.main {
  display: flex;
  flex: 1;
  flex-direction: row;
  height: 100%;
}
</style>
