<template>
  <div class="main-menu">
    <ul class="pt-4 bg-white shadow-md rounded m-2">
      <li>
        <router-link :to="{name: 'home'}">
          <unicon name="comments-alt" fill="grey" />
        </router-link>
      </li>
      <li>
        <router-link to="pictures">
          <unicon name="scenery" fill="grey" />
        </router-link>
      </li>
      <li>
        <router-link to="contacts">
          <unicon name="users-alt" fill="grey" />
        </router-link>
      </li>
      <li>
        <router-link to="profile">
          <unicon name="user" fill="grey" />
        </router-link>
      </li>
      <li>
        <a href="https://personal-server.org/newebe/" target="_blank">
          <unicon name="globe" fill="grey" />
        </a>
      </li>
      <li>
        <a href="#" @click="runLogout">
          <unicon name="sign-out-alt" fill="grey" />
        </a>
      </li>
    </ul>
  </div>
</template>

<script>
import { mapActions } from 'vuex'

export default {
  name: 'MainMenu',

  components: {
  },

  props: {
  },

  data () {
    return {
    }
  },

  mounted () {
  },

  methods: {
    ...mapActions([
        'logout'
    ]),

    runLogout () {
      this.logout()
      this.$router.push({ name: 'login' })
    }
  }
}
</script>

<style lang="scss" scoped>
.main-menu {
  position: fixed;
  @apply float-left;
}

li {
  padding: 1em 1em;
}
</style>
