<template>
  <div class="messages container">
    <div class="header pt-1">
      <div>
        <textarea
          class="post-box"
          @keyup.ctrl.enter="createMessage"
          ref="post-box"
        />
      </div>
      <div class="attachment-options">
        <div class="flex-1 text-right">
          <file-field
            ref="attachmentField"
            accept=".jpg,.png,.mp4"
            label=""
            multiple
            @fileselected="setAttachmentFile"
          />
        </div>
        <div class="flex items-end">
          <app-button
            text="Post"
            :loading="isPostLoading"
            @click="createMessage"
          />
        </div>
      </div>
    </div>
    <div class="message-list" v-if="isMessages">
      <div
        class="message"
        :key="message.uuid"
        v-for="message in messages"
      >
        <p class="flex content-center">
          <img
            class="message-avatar"
            :src="getAvatarPath(message)"
          />
          <span class="message-author">
            {{ getMessageAuthor(message) }}
          </span>
          <span class="filler"></span>
          <span class="date">
            {{ formatDate(message.createdAt) }}
          </span>
          <span
            class="delete ml-2"
            @click="deleteMessage(message)"
          >
            x
          </span>
        </p>
        <p
          class="mt-3"
          v-html="renderComment(message.content)"
        >
        </p>
        <div class="attachments flex mt-2 mb-2" v-if="true">
          <div
            :key="attachment.uuid"
            v-for="attachment in message.attachments"
          >
            <video
              :src="getVideoPath(attachment)"
              :controls="true"
              width=300
              v-if="attachment.extension === 'mp4'"
            />
            <a
              :href="getImagePath(attachment)" target="_blank"
              v-else
            >
              <img
                class="attachment"
                :src="getThumbnailPath(attachment)"
                width=100
              />
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="text-center mt-8" v-else>
      No messages yet, please post your first message!
    </div>
  </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'

import render from '@/lib/render'
import pathHelpers from '@/lib/path'
import AppButton from '@/components/widgets/AppButton.vue'
import FileField from '@/components/widgets/FileField.vue'


export default {
  name: 'Messages',

  components: {
    AppButton,
    FileField
  },

  props: {
  },

  data () {
    return {
      isPostLoading: false,
      messageMap: {}
    }
  },

  mounted () {
    this.postBox.focus()

    setTimeout(() => {
        this.$socket.onmessage = (message) => {
          console.log(message)
          const eventData = JSON.parse(message.data)
          if (eventData.eventType === 'message:new') {
            this.addNewMessage(eventData)
          } else if (eventData.eventType === 'attachment:new') {
            delete eventData.eventType
            this.addAttachment(eventData)
          }
        }
    }, 1000)
  },

  computed: {
    ...mapGetters([
      'contactMap',
      'profile',
      'messages'
    ]),

    isMessages () { return this.messages.length > 0 },
    postBox () { return this.$refs['post-box'] }
  },

  methods: {
    ...mapActions([
      'addAttachment',
      'addMessage',
      'postMessage',
      'removeMessage'
    ]),

    // List Helpers

    isMessageListed (message) {
      return !!this.messageMap[message.uuid]
    },

    addNewMessage (message) {
      if (!this.isMessageListed(message)) {
        this.addMessage(message)
        this.messageMap[message.uuid] = message
      }
    },

    // Posting Helpers

    createMessage () {
      const content = this.postBox.value
      this.isPostLoading = true
      this
        .postMessage({ content, form: this.attachmentForm })
        .then(this.resetPostBox)
        .then(() => {
            this.isPostLoading = false
        })
        .catch(console.error)
    },

    resetPostBox () {
      this.formData = null
      this.postBox.value = ''
      this.$refs.attachmentField.reset()
    },

    setAttachmentFile (formData) {
      this.attachmentForm = formData
    },

    // Rendering Helpers

    formatDate (date) {
      return render.formatDate(date)
    },

    renderComment (message) {
      return render.markdownToHtml(message)
    },

    getVideoPath ({ fileName }) {
      return pathHelpers.buildVideoPath(fileName)
    },

    getImagePath ({ fileName }) {
      return pathHelpers.buildImagePath(fileName)
    },

    getThumbnailPath ({ fileName }) {
      return pathHelpers.buildThumbnailPath(fileName)
    },

    deleteMessage (message) {
      if (window.confirm('Are you sure you want to delete this message?')) {
        this.removeMessage(message)
      }
    },

    getMessageAuthor (message) {
      const contact = this.contactMap[message.authorKey]
      if (!contact && message.authorKey === this.profile.uuid) {
        return this.profile.name
      } else if (contact) {
        return contact.name
      } else {
        return 'Unknown user'
      }
    },

    getAvatarPath (message) {
      const contact = this.contactMap[message.authorKey]
      if (message.authorKey === this.profile.uuid) {
        if (this.profile.hasAvatar) {
          return '/api/data/medias/th-avatar.png'
        } else {
          return '/api/data/medias/logo.png'
        }
      } else if (contact.hasAvatar) {
        return `/api/data/medias/avatars/th-${contact.uuid}.png`
      } else {
        return '/api/data/medias/logo.png'
      }
    }
  }
}
</script>

<style lang="scss" scoped>
textarea {
  border-radius: 0.5em;
  padding: 1em;
  transition: all 0.3s ease;
  width: 100%;

  &:hover {
    border: 1px solid #AAA;
  }

  &:active,
  &:focus {
    border: 1px solid $blue;
  }
}

.date {
  color: #999;
  flex: 1;
  font-size: 0.8em;
  padding-top: 3px;
  text-align: right;
}

.delete {
  color: #999;
  cursor: pointer;
  font-size: 0.8em;
  opacity: 0;
  padding-top: 3px;
  text-align: right;
}

.message:hover {
  .delete {
    opacity: 1;
  }
}

.messages {
  @apply mx-auto max-w-screen-md p-4 bg-white shadow-md rounded
}

.post-box {
  @apply border shadow-inner border-solid border-gray-100
}

.post-box {
  border: 1px solid #CCC;

  &:focus {
    outline: 0;
  }
}

.attachment-options {
  @apply flex flex-row items-end mt-1
}

.message {
  border-bottom: 1px solid #CCC;
  padding: 0.8em 0 0.2em 0;
}

.message-list {
  border-top: 1px solid #CCC;
  margin-top: 1em;
}

.header {
  background: white;
  max-width: 735px;
  width: 100%;
}

.message-author {
  font-weight: bold;
}

.message-avatar {
  border-radius: 50%;
  height: 24px;
  margin-right: 0.5em;
  width: 24px;
}

.attachment {
  border-radius: 1em;
  border: 2px solid $light-grey;
}
</style>
