<template>
  <div class="pictures container">
    <div
      :key="attachmentList[0].day"
      v-for="attachmentList in attachmentsByDay.filter(l => l.length > 0)"
    >
      <div class="month-title">
        {{ formatMonth(attachmentList[0].day) }}
      </div>
      <div class="flex flex-row">
        <a
          :key="attachment.uuid"
          :href="getImagePath(attachment)"
          target="_blank"
          v-for="attachment in attachmentList"
        >
          <img
            class="attachment"
            :key="attachment.uuid"
            :src="getThumbnailPath(attachment)"
            width=100
            v-if="attachment.extension !== 'mp4'"
          />
        </a>
      </div>
    </div>
  </div>
</template>

<script>
import moment from 'moment'

import { mapGetters } from 'vuex'
import pathHelpers from '@/lib/path'

export default {
  name: 'Picture',

  components: {
  },

  props: {
  },

  data () {
    return {
    }
  },

  mounted () {
  },

  computed: {
    ...mapGetters([
      'attachments',
      'attachmentsByDay'
    ])
  },

  methods: {
    formatMonth (date) {
      return moment(date, 'YYYY-MM-DD').format('MM / YYYY')
    },

    getThumbnailPath ({ fileName }) {
      return pathHelpers.buildThumbnailPath(fileName)
    },

    getImagePath ({ fileName }) {
      return pathHelpers.buildImagePath(fileName)
    },

    getVideoPath ({ fileName }) {
      return pathHelpers.buildVideoPath(fileName)
    }
  }
}
</script>

<style lang="scss" scoped>
.pictures {
  @apply mx-auto max-w-screen-md p-4 bg-white shadow-md rounded mt-2
}

.attachment {
  border-radius: 1em;
  border: 2px solid $light-grey;
  @apply mr-1;
}

.month-title {
  color: $grey;
  font-size: 1.6em;
  font-weight: bold;
  @apply mt-2 mb-1;
}

img {
  min-width: 100px;
}

.flex-row {
  flex-wrap: wrap;
}
</style>
