<template>
  <div class="profile container">
    <div class="box">
      <h1 class="font-bold text-xl mb-6">Your parameters</h1>
      <div class="mb-4">
        <app-label
          text="Avatar"
          info="The picture displayed on your messages"
        />
        <div>
          <img
            ref="avatar"
            class="avatar mb-2"
            src="/api/data/medias/th-avatar.png"
          />
        </div>
        <file-field
          ref="avatarField"
          accept=".png,.PNG,.jpg,.JPG"
          label=""
          @fileselected="setAvatarFile"
        />
        <text-field
          label="Your name"
          label-info="The name displayed on your messages"
          placeholder=""
          v-model="form.name"
        />
        <text-field
          class="delete-button"
          label="URL"
          label-info="The URL to give to your friends"
          placeholder=""
          v-model="form.url"
        />
      </div>
      <app-button
        class="mt-4"
        text="Save"
        :loading="isSaving"
        @click="saveForm"
      />
    </div>
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'

import AppButton from '@/components/widgets/AppButton.vue'
import AppLabel from '@/components/widgets/AppLabel.vue'
import FileField from '@/components/widgets/FileField.vue'
import TextField from '@/components/widgets/TextField.vue'

export default {
  name: 'Profile',

  components: {
    AppButton,
    AppLabel,
    FileField,
    TextField
  },

  props: {
  },

  data () {
    return {
      avatar: null,
      isSaving: false,
      form: {
        name: '',
        url: ''
      }
    }
  },

  mounted () {
    this.form = {
      name: this.profile.name,
      url: this.profile.url
    }
  },

  computed: {
    ...mapGetters([
      'profile'
    ])
  },

  methods: {
    ...mapActions([
      'saveProfile',
      'uploadAvatar'
    ]),

    saveForm () {
      this.isSaving = true
      this.saveProfile(this.form)
        .then(() => {
          if (this.avatar) {
            this.$refs.avatarField.reset()
            this.uploadAvatar(this.avatar)
              .then(() => {
                const path = '/api/data/medias/th-avatar.png?time='
                this.$refs.avatar.src = path + new Date()
                this.isSaving = false
              })
            this.avatar = null
          } else {
            this.isSaving = false
          }
        })
        .catch(err => {
            console.error(err)
            this.isSaving = false
        })
    },

    setAvatarFile (formData) {
      this.avatar = formData
    }
  },

  watch: {
    profile () {
      this.form = {
        name: this.profile.name,
        url: this.profile.url
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.box {
  @apply bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4 mt-12
}

.profile {
  @apply mx-auto max-w-screen-md
}

.avatar {
  height: 100px;
  width: 100px;
  border-radius: 5px;
}
</style>
