<template>
  <div class="register container mx-auto max-w-screen-md">
    <div
      class="main-box bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4 mt-12"
      @submit="runRegistration"
    >
      <div class="text-center">
        <img class="logo" src="../assets/logo.png" />
        <h1 class="font-bold text-xl mb-10">Welcome to Newebe</h1>
      </div>
      <div class="mb-4">
        <app-label
          info="The url where your peers will find you"
          text="URL"
          for="url"
        />
        <input
          class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
          id="url"
          type="text"
          placeholder=""
          @keyup.enter="runRegistration"
          v-model="form.url"
        />

        <app-label
          info="The name displayed on your message"
          text="Username"
          for="username"
        />
        <input
          class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
          id="username"
          type="text"
          placeholder=""
          @keyup.enter="runRegistration"
          v-model="form.name"
        />
        <app-label
          info="The password required to access your Newebe"
          text="Password"
          for="password"
        />
        <input
          class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
          id="password"
          type="password"
          placeholder=""
          @keyup.enter="runRegistration"
          v-model="form.password"
        />
      </div>
      <app-button
        class="mt-4 register"
        @click="runRegistration"
        text="Register"
      />
    </div>
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'

import AppButton from '@/components/widgets/AppButton.vue'
import AppLabel from '@/components/widgets/AppLabel.vue'

export default {
  name: 'Profile',

  components: {
    AppButton,
    AppLabel
  },

  props: {
  },

  data () {
    return {
      form: {
        name: '',
        password: '',
        url: ''
      }
    }
  },

  mounted () {
    this.form.url = window.location.protocol + '//' + window.location.host
  },

  computed: {
    ...mapGetters([
    ])
  },

  methods: {
    ...mapActions([
      'register'
    ]),

    runRegistration () {
      this.register(this.form)
        .then(() => {
          this.$router.push({name: 'login'})
        })
    }
  },

  watch: {
  }
}
</script>

<style lang="scss" scoped>
.avatar {
  height: 100px;
  width: 100px;
}

.main-box {
  border-radius: 50%;
  padding: 100px 200px 160px 200px;
}

.logo {
  margin: auto;
  margin-bottom: 0px;
}

.register {
  width: 100%;
}
</style>

