<template>
  <div id="app">
	<router-view />
  </div>
</template>

<script>
export default {
  name: 'app',
  components: {
  }
}
</script>

<style lang="scss">
#app {
  background: $light-blue;
  background: linear-gradient(45deg, #3023ae 0%, #53a0fd 100%);
  background: linear-gradient(90deg, rgba(9,18,56,1) 0%, rgba(9,9,121,1) 35%, rgba(0,104,255,1) 100%);
  background: linear-gradient(45deg, rgba(20,28,86,1) 0%, rgba(51,60,131,1) 35%, rgba(104,124,215,1) 100%);
  height: 100%;
  min-height: 100vh;
}

.button {
  background: $blue;
}

.error {
  color: $red;
  font-style: italic;
  margin-top: 0.5em;
}
</style>
