$grey: rgba(130,130,130,1);
$grey2: rgba(150,150,150,1);
$light-grey: rgba(230,230,230,1);
$light-grey2: rgba(200,200,200,1);
$strong-grey: rgba(90,90,90,1);
$red-grey: rgba(190,90,90,1);
$blue: rgba(64,84,255,1);
$light-blue: rgba(84,104,255,1);
$red: #FF4081;
